npm-debug.log
coverage/
node_modules/
package-lock.json
/vendor/
/*.zip
dist/
.env

server/.env
server/firebaseServiceAccountKey.json
server/.env
server/data
**/__pycache__/**
server/.venv
server/model/*
server/comic_text_detector/data
server/test*